{% extends "admin/base_site.html" %}
{% load i18n static material%}

{% block extrastyle %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/theme_change.min.css' %}">

{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container-fluid m-2">
<h4>select term</h4>
<form method="post" id="termForm">
    {% csrf_token %}
    <select name="term" id="term" aria-label="Default select example" onchange="document.getElementById('termForm').submit()">
        <option selected value="{{ term }}">{{ term }}</option>
        {% for t in terms%}
            <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
    </select>
    <input type="submit" style="display:none;">
</form>

<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       Faculty state
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">


  <div class="accordion " id="accordionpanelExample">
  {% for semester in subject_analytics %}
    <div class="accordion-item ">
      <h2 class="accordion-header">
        <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-pass-{{ semester.sem }}" aria-expanded="false" aria-controls="collapse-pass-{{ semester.sem }}">
          Semester: {{ semester.sem }}
          <div class="container-fluid">
            <div class="progress" role="progressbar" aria-label="Warning example"
              style="height: 12px; background-color: rgb(90, 90, 90);" aria-valuenow="{{semester.sem}}"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated text"
                style="width: {{ semester.sem_remain|percentageinv:semester.sem_total|floatformat:2 }}%">
                {{ semester.sem_remain|percentageinv:semester.sem_total|floatformat:2 }}%</div>
            </div>
          </div>
        </button>
      </h2>
      <div id="collapse-pass-{{ semester.sem }}" class="accordion-collapse collapse" data-bs-parent="#accordionpanelExample">
        <div class="accordion-body">
{#            {% for subject in semester.subjects %}<h2>hello for loop{{ subject.sub.sub_name }}</h2>{% endfor %}#}
        <div class="accordion " id="subject-show-{{ semester.sem }}">
          {% for subject in semester.subjects %}
            <div class="accordion-item  ">
                <h6><a href="{% url 'admin:Student_app_student_marks_changelist' %}?Assigned_Sub_Faculty__fac_id__exact={{ subject.sub.Assigned_Sub_Faculty_id }}"> {{ subject.sub.Assigned_Sub_Faculty.fac_name }} --> {{ subject.sub.Assigned_Sub_Faculty.email }} </a></h6>
              <h2 class="accordion-header ">
                <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-pass-subject-{{ subject.sub.sub_id }}" aria-expanded="false"
                  aria-controls="collapse-pass-subject-{{ subject.sub.sub_id }}">

                  Subject: {{ subject.sub.sub_name }}
                  <div class="container-fluid">
                    <div class="progress" role="progressbar" aria-label="Warning example"
                      style="height: 12px; background-color: rgb(90, 90, 90);" aria-valuenow="{{subject.total|sub:subject.remain}}"
                      aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar progress-bar-striped progress-bar-animated text"
                        style="width: {{ subject.remain|percentageinv:subject.total|floatformat:2 }}%">
                          Marks enter record: {{ subject.remain|percentageinv:subject.total|floatformat:2 }}%</div>
                    </div>
                      {% if subject.marks_entered %}
                      <div class="progress" role="progressbar" aria-label="Warning example"
                      style="height: 12px; background-color: rgb(90, 90, 90);" aria-valuenow="{{subject.sub_passed}}"
                      aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar progress-bar-striped progress-bar-animated text"
                        style="width: {{ subject.sub_passed|percentage:subject.sub_total|floatformat:2 }}%">
                        Pass record: {{ subject.sub_passed|percentage:subject.sub_total|floatformat:2 }}%</div>
                    </div>
                       {% endif %}
                  </div>
                </button>
              </h2>
              <div id="collapse-pass-subject-{{ subject.sub.sub_id }}" data-bs-parent="#subject-show-{{ semester.sem }}" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <div class="card">
                      <div class="row">
                          <div class="col">
                              <p>Subject: {{ subject.sub.sub_name }}</p>
                              <p>Subject Code: {{ subject.sub.sub_code }}</p>
                              <p>Total student for subject: {{ subject.total }}</p>
                              <p>remaining entry for subject: {{ subject.remain }}</p>
                          </div>

                          {% if subject.marks_entered%}<div class="col">
                              <p>Subject Total marks: {{ subject.subject_marks_total }}</p>
                              <p>Subject averate marks: {{ subject.subject_marks_average }}</p>
                              <p>Student with higest marks: <a href="{% url 'admin:Student_app_student_marks_changelist' %}{{ subject.subject_max.id }}/"> {{ subject.subject_max.stu_enroll }}</a> -> {{ subject.subject_marks_max }}</p>
                              <p>Student with lowest marks: <a href="{% url 'admin:Student_app_student_marks_changelist' %}{{ subject.subject_min.id }}/"> {{ subject.subject_min.stu_enroll }}</a> -> {{ subject.subject_marks_min }}</p>
                          </div>{% endif %}
                  </div>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
         </div>
        </div>
      </div>
    </div>
  {% endfor %}

            </div>
    </div>
  </div>
</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}
